.top_logo{
    background-color: #50586C;
}

.img_logo img{
    width: 200px;
}
@media screen and (max-width: 990px) {
    .img_logo img{
        margin-top: -20px;
    }
    .link_root{
        width: 100%;
        background-color: #021015;
    }
}



.searchForm{
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    
}

.searchForm input {
    width: 70%;
    height: 37px;
    border-radius: 8px;
    outline: none;
    border: none;
    margin-left: 110px;
    padding: 1rem 1rem;
    font-size: 13px;
    
}
.searchForm img {
    width: 35%;
    height: 60px;
    object-fit: contain;
    transform: scale(0.5);
    position: absolute;
    background-color: #DCE2F0;
    border-radius: 12px;
    top: -3px;
    left: 167px;
    margin-left: 110px;
}


