.user{
    width: 700px;
    display: flex;
    flex-direction: row;
    border:1px solid white;
    margin : 0 auto;
    margin-top: 50px;
    color: white;
    padding: 0.5rem 0.5rem;
    background-color: #474747;
}
.user .sixth{
    width: 150px;
}
.user .second .char{
    width: 50px;
    height: 50px;
    border-radius: 5rem;
    border : white 1px solid
}
.user .seventh{
    width: 50 !important;
}

.user div{
    width: 100px;
}
