.page_wrapper{
    height: 94vh;
}
.MP_Box{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 40%;
    left: 30%;
}

/* 이름 박스 */
.MP_NameBox {
    margin: 0 auto;
    width: 670px;
    height: 7vh;
    border: 1.5px solid black;
    border-radius: 15px;
    color: black;
    display: grid;
    align-items: center;
}
.MP_Name{
    font-size: 22px;
    margin-left: 1.5vw;
    border: none;
    outline: none;
}
.MP_NameHistory{
    width: 670px;
    height: 300px;
    border: 1px solid rgb(166, 166, 166)
}
.History_NameList{
    text-align: center;
    margin-top: 10px;
}
.History_NameList  .History_Name{
    font-size: 24px;
    cursor: pointer;
}
.History_NameList button{
    border: none;
    color: none;
    background-color: white;
    font-size: 20px;
    margin-left: 50px;
    opacity: 0.5;
}
/* 이름 박스*/



.event_Logo{
    width: 500px;
    height:250px;
    display: flex;
    text-align: center;
    margin: 0px auto;
    margin-top: 200px;
}

.event_Logo img{
    object-fit: cover;
    margin-left: 20px;
}
.header{
    position: relative;
    width: 500px;
    height: 45px;
    border-radius: 1rem;
    border: none;
    display: flex;
    margin :0px auto; /* 가운데 정렬 */
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes fadeOut{
    from {
        width: 20px;
    }to {
        width: 600px;

    }
}

.header  input{
    width:100%;
    border:0px;
    outline: none;
    padding: 5px 5px;
}

.header Button{
    right: 5px;
    top: 2.5px;
    position: absolute;
    width: 65px;
    height: 40px;
    border:none;
    border-radius: 0.5rem;
    background: rgb(61, 61, 61);
    color: white;
}
.Cupon_Box{
    right: 10%;
    top: 40%;
    position: absolute;
    width: 200px;
    height: 300px;
    border: 0.5px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 1rem 1rem;
}
.Cupon_Box .Cupon_Title{
    border-bottom: 1px solid red;
    margin-bottom: 5px;
    padding-bottom: 3px;
}
.Cupon_Box .Cupon_Code{
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: 600;
}