.page_wrapper{
    position: absolute;
    width: 100%;
    height: 1077px;
    background: url(../image/Background/ER_Main.png)  center center / cover no-repeat;
    display: inline-block;

}

.event_Logo{
    width: 500px;
    height:250px;
    display: flex;
    text-align: center;
    margin: 0px auto;
    margin-top: 200px;
}

.event_Logo img{
    object-fit: cover;
    margin-left: 20px;
}
.header{
    width: 600px;
    height: 45px;
    border-radius: 0.2rem;
    display: flex;
    margin :0px auto; /* 가운데 정렬 */
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes fadeOut{
    from {
        width: 20px;
    }to {
        width: 600px;

    }
}

.header  input{
    width:85%;
    border:0px;
    outline: none;
    padding: 5px 5px;
}

.header Button{
    width: 15%;
    height: 45px;
    border:none;
    background: rgb(61, 61, 61);
    color: white;
}