.userTier{
    position: relative;
    top: -260px;
    left: 400px;
    display: flex;
}

.userTier .selected_tier{
    width: 120px;
    height: 30px;
    position: absolute;
    top: -55px;
    left: 415px;
    font-size: 13px;
    background-color: #505050;
    padding-left: 10px;
    padding-bottom: -5px;
    color: white;
    border: rgb(130, 212, 227) 1px solid;
}
.selected_tier option{
    background-color: none;
}



.userTier .img_Box{
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    padding: 1rem 1rem;
    margin-right: 20px;
    background-color: rgba(53, 53, 53, 0.597);
    margin-top: 15px;
    overflow: hidden;
    top: -40px;
    left: 100px;
    transform: scale(0.7);
    }
    
    .userTier .img_Box img {
    width: 130px;
    height: 100px;
    position: relative;
    margin: 0 auto;
    padding: 0.3rem 0.3rem;
    top: -12px;
    left: -42px;
    transform: scale(1.3);
    
    }
    
.avg_Info{
    position: relative;
    top: -10px;
    left: 180px;
}



.userTier .info_bar{
    position: relative;
    left: -60px;
    top: 5px;
}

span.info_log{
    float:right;
    font-size:13px;
    margin-top:10px
}


.userTier .avg_Info .gameBar{
    width: 180px;
    height: 8px;
    background-color: gray;
    border-radius: 12px;
    margin-top: 7px;
    margin-bottom: 5px;
}