.most_op{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding : 0.3rem 0.4rem;
}

.most_op .log_header{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: column;
}


.most_op img{
    object-fit: cover;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: rgb(231, 231, 231);
    margin-right: 10px;
}

.left_op{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    width: 100px;
}
.right_op{
    font-size: 14px;
    color: white;
    text-align: right;
    margin-top: 12px;
}
.log_header{
    display: flex;
    flex-direction: row;
}
