.page_wrap{
    width: 100%;
    display: inline-block;
    background-color: rgb(21, 21, 21);
}

.page_wrap .headers{
    width: 100%;
    height: 250px;
    border:white solid 1px;
    margin-top:15px;
}

.page_wrap .headers .user_name{
    font-size: 18px;
    border: white solid 1px;
    padding: 5px 5px 5px 5px;
    width: 130px;
    color: white;
    float: right;
    margin:20px 20px
}

.average_content{
    margin: 0 auto;
    width: 700px;
    height: 300px;
    border: 1px solid white;
    color: white;
    text-align: center;
    margin-top: 30px;
}
.average_content .user_average{
    width: 250px;
    height: 250px;
    border-radius: 25rem;
    border:white 1px solid;
    display: inline-block;
    text-align: center;
    
}