.page_wrap{
    width: 100%;
    display: inline-block;
    background-color: rgb(21, 21, 21);
}

.page_wrap .headers{
    width: 100%;
    height: 250px;
    border:white solid 1px;
    margin-top:15px;
}

.page_wrap .headers .user_name{
    font-size: 18px;
    border: white solid 1px;
    padding: 5px 5px 5px 5px;
    width: 130px;
    color: white;
    float: right;
    margin:20px 20px
}

.pentagon_content{
    margin: 0 auto;
    width: 1050px;
    height: 300px;
    border: 1px solid white;
    color: white;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-left: 100px;
}

.pentagon_content .user_Stat{
    width: 250px;
    height: 250px;
    border-radius: 25rem;
}

.user_Content{
    width: 1055px;
    margin: 0px auto;
    
}
.user_Content .user_Infos{
    display: inline-block;
    width: 240px;
    height: 250px;
    border: solid white 1px;
}

.user_GameLog{
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
}

.user{
    width: 800px;
    display: flex;
    flex-direction: row;
    border:1px solid white;
    margin : 0px auto;
    color: white;
    padding: 0.5rem 0.5rem;
    background-color: #474747;
    border-left: 5px solid greenyellow;
    border-right: 5px solid skyblue;
    margin-bottom: 10px;
}

.user .second .char{
    width: 50px;
    height: 50px;
    border-radius: 5rem;
    border : white 1px solid
}

.user .third{
    width: 150px !important;
    padding-top: 5px;
}

.user .third .user_kah{
    font-weight: bold;
    font-size: 20px;
}

.user .sixth{
    width: 150px;
}
.user .seventh{
    width: 30 !important;
}
.user div{
    width: 100px;
}

