.page_wrap{
    width: 100%;
    display: inline-block;
    background-color: rgb(31, 31, 31);
}

.page_wrap .searchForm{
    position: relative;
    width: 300px;
    top: -50px;    
    left: 717px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.page_wrap .searchForm input {
    width: 70%;
    height: 35px;
    
}
.page_wrap .searchForm img {
    width: 30%;
    height: 60px;
    object-fit: cover;
    transform: scale(0.5);
    position: absolute;
    background-color: rgb(189, 189, 189);
    border-radius: 12px;
}

/* .page_wrap .headers{
    width: 100%;
    height: 250px;
    margin-bottom: 50px;
}

.page_wrap .headers .user_name{
    font-size: 18px;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    width: 130px;
    color: white;
    float: left;
    margin:20px 20px
} */

.page_wrap .select_tier .selected_tier{
    width: 100px;
    font-size: 15px;
    color: black;
    padding: 1px 5px 1px 4px;
    opacity: 0.8;
}

.pentagon_content{
    margin: 0 auto;
    width: 1000px;
    height: 400px;
    border: 1px solid rgb(146, 146, 146);
    color: white;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 50px;
    padding-left: 100px;
}

.pentagon_content .user_Stat{
    width: 250px;
    height: 250px;
    border-radius: 25rem;
    position: relative;
}

.user_Content{
    width: 1055px;
    margin: 0px auto;
    
}

.user_Stat .char{
    size: auto;
    width: 233px;
    height: 301px;
    object-fit: cover;
    opacity: 0.6 !important;
    position: absolute;
    top: 28px;
    left: 260px;
    overflow: hidden;
    background-color: none;
}



.user_Content .user_Infos{
    display: inline-block;
    width: 240px;
    height: 200px;
    border: solid #6E6E6D 2px;
}

.user_GameLog{
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
}

.user{
    width: 800px;
    display: flex;
    flex-direction: row;
    border:1px solid rgb(141, 141, 141);
    margin : 0px auto;
    color: white;
    padding-left: 0.5rem;
    padding-top: 0.1rem;
    background-color: #2a2a2a;
    border-left: 5px solid #8CE33d;
    border-right: 5px solid #46A3D2;
    margin-bottom: 10px;
}

.user .second, .third ,  .forth , .fifth , .sixth , .seventh{
    margin-top: 10px;
    font-weight: 200;
} 
.user .first{
    margin-top: 5px;
}


.user .second .char_img{
    width: 70px;
    height: 70px;
    border-radius: 5rem;
    margin-top: -27px !important;
    background-color: #191919;
    position: relative;
    top: 30px;
    left: 2px;

    
}

.user .second .charLevel{
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    background-color: #2b2b2b;
    color: #FCF6F5;
    border: 1px solid rgb(134, 130, 130);
    top: -15px;
    padding-top: 2px;
    font-size: 14.5px;
    z-index: 1;
    left: -5px;
}


.user .second .char_wephon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    top: 10px;
    left: 45px;
    z-index: 1;
    background-color: #323232;
    border: 1px solid rgb(134, 130, 130);
    padding: 0.15rem 0.15rem;
}

.ability , .sub_ability{
    width: 30px;
    height: 30px;
    border: solid white 1px;
    border-radius : 50%;
    top: -40px;
    left: 50px;
    margin-top: 17px;
}
.sub_ability{
    margin-top: 5px !important;
}


.user .third{
    width: 150px !important;
}

.user .third , .user .forth{
    margin-top: 20px;
}

.user .third .user_kah{
    font-weight: bold;
    font-size: 20px;
}

.user .fifth{
    margin-top: 20px;
}


.user .sixth{
    margin-top: 20px;
    width:200px;
}

.user .sixth div{
    display: inline-block;
    margin-bottom: 6px;
    width: 48px;
    height: 31px;
    margin-right: 6px;
    background-color: #5A467E;
    border :solid 1px #7f63b3;
}


.user .sixth div.Legend{
    background-color:#a37833;
    border :solid 1px #b69f7a;
    
}

.user .sixth div.Unike{
    background-color: #5A467E;
    border :solid 1px #7f63b3;
}

.user .sixth div.blue{
    background-color: #425C7F;
    border :solid 1px #77A7D7;
}

.user .sixth div.green{
    background-color: #466A49 ;
    border :solid 1px #647F4B;
}

.user .sixth div.gray{
    background-color: #585A5C ;
    border :solid 1px #878787;
}


.user .sixth div img{
    height: auto;
    max-width: 100%;
    margin-top: 0px;
    margin-left: 1;
}


.user .seventh{
    width: 50px !important;
}

.user .seventh button{
    margin-top: 15px;
    padding: 0.1rem 0.1rem 0.1rem 0.1rem;
    text-align: center;
    border: none;
    font-size: 15px;
    font-weight: bold;
    background-color: #474747;
}

.user div{
    width: 105px;
}

.select_modeAll{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 600px;
    color: white;
    left: 730px;
    
}

.select_modeAll span{
    width: 60px;
    border : 1px solid rgb(135, 135, 135);
    border-radius: 13px ;
    margin-right: 7px;
    margin-bottom: 15px;
    margin-top: -10px;
    padding: .7rem .7rem;
    
}


.select_modeAll span a{
    outline: none;
    color: #DCE2F0;
    text-decoration: none;
    font-size: 15px;
    position: relative;
}

.active_toggle{
    background-color: #77A7D7;
}
.active_toggle a{
    font-weight: bolder;
}

/* .select_modeAll .B a::before , .select_modeAll .C a::before{
    content: "";
    height: 2px;
    width: 0;
    background-color: #fff;
    border-radius: 10px;
    transition: .3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}
.select_modeAll .B a:hover::before{
    width: 35px;
    background-color: rgb(158, 159, 159);
}
.select_modeAll .C a:hover::before{
    width: 55px;
    background-color: rgb(158, 159, 159);
} */

@keyframes inAnimation{
    from{
        left:0
    }to{
        left:785
    }
}

.add_gameLog{
    margin-bottom: 10px;
    animation-name:fadeOut2;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.addgameLog{
    margin-bottom: 10px;
    animation-name:fadeIn2;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
